{{!-- /********************************
 * Place Page for The Village
 * 
 * @author The Village People
 * 
 * 2019-07-13
 ********************************/ --}}
<!-- The navbar is outside the container so it bleeds all the way to edge -->
<nav class="navbar navbar-expand-sm  navbar-light bg-light">
  <!-- Brand  -->
  <a class="navbar-brand" href="/">The Village</a>
  <!-- Toggler/collapsible button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navigation Menu -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>

    </ul>
  </div>
</nav>

<section class="container">
  <section class="row">
    <div class="col m6">
      <div class="card mb-3 mt-3" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="place-name">{{place.place_name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted" id="place-street">{{place.street_address}}</h6>
          <h6 class="card-subtitle mb-2 text-muted" id="place-csz">{{place.city}}, {{place.jurisdiction}}
            {{place.zip_code}}</h6>
          <h6 class="card-subtitle mb-2 text-muted" id="place-phone">{{place.phone_number}}</h6>
          <a href="{{place.external_link}}">{{place.external_link}}</a>
        </div>
      </div>
    </div>
  </section>
  <section class="row mb-3">
    <div class="col m6">
      <h6>Location Summary</h6>
      <p>{{place.summary}}</p>
    </div>
  </section>
  <section class="row mb-3">
    <div class="col m6">
      <h6>Description of Services</h6>
      <p>{{place.services}}</p>
    </div>
  </section>

  <section class="row center">
    <div class="col m12">
      <div class="text-left">
        <button type="submit" value="{{place.id}}" class="btn btn-primary btn-md mb-2" id="review-btn"><span
            class="fa fa-fire"></span>Add
          Review</button>
      </div>
      <table class="table table-striped table-sm table-hover" id='review-table'>
        <thead>
          <tr id="header">
            <th scope="col">Comments</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody id="review-table-body">
          {{#each reviews}}
          <tr class="review-item table entry">
            <td>{{this.comments}}</td>
            <td>{{this.rating}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</section>

<!-- Modal -->
<div class="modal fade" role="dialog" id="review-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form>
        <div>
          <fieldset class="rating">
            <legend>Please rate:</legend>
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Excellent">5
              stars</label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Good">4
              stars</label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Average">3
              stars</label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Poor">2
              stars</label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Awful">1
              star</label>
          </fieldset>
        </div>
        <br>
        <div class="form-group" id="comments">
          <label for="comment">Comments</label>
          <textarea class="form-control" id="user-comment" rows="6"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="review-submit">Submit</button>
      </form>
    </div>
  </div>
</div>